$width: 344px;
$height: 100%;

@mixin form {
  //box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
  //background-color: whitesmoke;
  //align-items: center;
  max-width: $width;
  //min-width: $width;
  //border-radius: 5px;
  display: flex;
  flex-flow: column;
}

.root_container {
  height: $height;
  overflow: hidden;
  background: url("./pictures/Subtle-Prism.svg");
}

.message_form {
  @include form;
  padding: 20px;
}

.form_container {
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    padding: 0;
    @include form;

    .login-form-forgot {
      float: right;
      cursor: pointer;
    }

    .form-button {
      width: 100%;
    }
  }
}




